<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Alban's <%= title %>. View our <a href="/flights">flights</a></p>

  </body>
</html>
