<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header') %>
  </head>
  <body>
      <%- include('../partials/navbar') %>
    <h1></h1>
    <a class="btn btn-primary" href="/flights/new" role="button">New Flight</a>
    <%- include('../partials/footer') %>

  </body>
</html>
